body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    /* background-color: #406339; */
    background-color: #6499E9;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    /* text-align: center; */
  }
  
  .navbar li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar svg {
    width: 300px;
    height: 45px;
  }
  
  .navbar p {
    font-size: 35px;
    margin: 0;
  }
  
  .second h1 {
    font-size: 50px;
    text-align: center;
    color: #6499E9;
  }
  
  .wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .places {
    box-sizing: border-box;
    width: 600px;
    height: 510px;
    color: #6499E9;
    background-color: #A6F6FF;
    margin-bottom: 40px;
    padding: 20px;
  }
  
  .places h2 {
    font-size: 40px;
  }
  
  .places h4 {
    font-size: 17px;
    margin-bottom: 10px;
  }
  
  .places img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  @media only screen and (max-width: 800px) {
    .navbar svg {
      width: 270px;
      height: 40px;
    }
  
    .navbar p {
      font-size: 30px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar svg {
      width: 240px;
      height: 35px;
    }
  
    .navbar p {
      font-size: 25px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .navbar svg {
      width: 200px;
      height: 30px;
    }
  
    .navbar p {
      font-size: 20px;
    }
  }
  
  .navbar .right {
    float: right;
  }
  
  .navbar .left {
    float: left;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
  }
  
  .navbar a:hover {
    color: #A6F6FF;
  }
  
  .navbar .dropdown {
    display: inline-block;
    transition: 2s;
  }
  
  .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease;
  }
  
  .navbar .dropdown-content a {
    color: black;
    padding: 10px 45px 10px 4px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  .navbar .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .navbar .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1
  }
  
  .carousel-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .image-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .carousel-dark {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  }
  
  .image-carousel img {
    width: 100%;
    height: 100%;
    object-fit: initial;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .carousel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .carousel-text {
    /* background: rgba(0, 0, 0, 0.7); */
    font-size: 35px;
    padding: 20px;
  }
  
  .dots-center {
    display: flex;
    justify-content: center;
  }
  
  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
  }
  
  .carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    background-color: #6499E9;
  }
  
  .carousel-buttons {
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-buttons svg {
    width: 100px;
    height: 100px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .carousel-buttons :hover path {
    transition: 0.1s;
    fill: #6499E9;
  }
  
  .carousel-buttons button:first-child {
    margin-top: 0;
  }
  
@media only screen and (max-width: 800px) {
  .navbar a {
    font-size: 14px;
  }
  .navbar svg {
    width: 270px;
    height: 40px;
  }

  .navbar p {
    font-size: 30px;
  }
  .carousel-section {
    height: 90vh;
  }
  .carousel-text {
    font-size: 30px;
  }
  .carousel-buttons svg {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 700px) {
  .navbar a {
    font-size: 12px;
  }
  .carousel-section {
    height: 80vh;
  }
  .carousel-text {
    font-size: 25px;
  }
  .carousel-buttons svg {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar a {
    font-size: 10px;
  }
  .navbar svg {
    width: 240px;
    height: 35px;
  }
  .places {
    width: 500px;
    height: 410px;
  }
  .places h4 {
    font-size: 15px;
  }
  .places h2 {
    font-size: 35px;
  }
  .container {
    height: 200px;
  }
  .container h1 {
    font-size: 25px;
  }
  .container h3{
    font-size: 15px;
  }
  .navbar p {
    font-size: 25px;
  }
  .carousel-section {
    height: 70vh;
  }
  .carousel-text {
    font-size: 20px;
  }
  .carousel-buttons svg {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 550px) {
  .navbar svg {
    width: 200px;
    height: 30px;
  }
  .places {
    width: 400px;
    height: 310px;
  }
  .places h4 {
    font-size: 14px;
  }
  .places h2 {
    font-size: 30px;
  }
  .container {
    height: 150px;
  }
  .container h1 {
    font-size: 20px;
  }
  .container h3{
    font-size: 13px;
  }
  .navbar p {
    font-size: 20px;
  }
  .carousel-section {
    height: 60vh;
  }
  .carousel-text {
    font-size: 15px;
  }
  .carousel-buttons svg {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .map img{
    width: 470px;
    height: 570px;
  }
  .places h4 {
    font-size: 13px;
  }
  .places h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 450px) {
  .navbar svg {
    width: 160px;
    height: 22px;
  }
  .places h2 {
    font-size: 26px;
  }
  .places h4 {
    font-size: 12px;
  }
  .places {
    width: 300px;
    height: 210px;
  }
  .reg{
    font-size: 35px;
  }
  .container h1 {
    font-size: 15px;
  }
  .container h3{
    font-size: 9px;
  }
  .map img{
    width: 400px;
    height: 500px;
  }
  .navbar p {
    font-size: 15px;
  }
  .carousel-section {
    height: 50vh;
  }
  .carousel-text {
    font-size: 10px;
  }
  .carousel-buttons svg {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 380px) {
  .map img{
    width: 370px;
    height:470px;
  }
}

@media only screen and (max-width: 360px) {
  .navbar svg {
    width: 150px;
    height: 17px;
  }
  .reg{
    font-size: 30px;
  }
  .map img{
    width: 300px;
    height:400px;
  }
  .navbar p {
    font-size: 12px;
  }

  .carousel-section {
    height: 40vh;
  }
  .carousel-text {
    font-size: 10px;
  }
  .carousel-buttons svg {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 280px) {
  .navbar svg {
    width: 110px;
    height: 15px;
  }
  .reg{
    font-size: 25px;
  }
  .navbar p {
    font-size: 10px;
  }
  .carousel-section {
    height: 35vh;
  }
  .carousel-text {
    font-size: 7px;
  }
  .carousel-buttons svg {
    width: 25px;
    height: 25px;
  }
}